body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border: 5px groove #fdc500;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #3d0066;
    color: #fdc500;
    border-bottom: 4px dashed #fdc500;
    border-top: 4px dashed #fdc500;
    border-left: 4px dotted;
    border-right: 4px dotted;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    box-shadow: 10px 10px 5px lightpink;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    background-color: #fdc500;
    transition: 1.1s;
    color: #1e96fc;
}

.border-blue {
    border: 1px dotted blue;
}